<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <h3>Point of Sale Order System</h3>
    </div>
    <form [formGroup]="posForm" (ngSubmit)="onSubmit()" role="form" class="panel-body form-horizontal" novalidate>
      <div class="control-group-custom">
        <span style="margin: 4px;"><h4>Current Order: {{currentOrder}}</h4></span>
        <app-order-drop-down (changed)="orderUpdated($event)" [loading]="loading" [showAll]="false"></app-order-drop-down>
        <button type="reset" (click)="load(currentOrder)" [hidden]="loading" class="btn btn-info" [disabled]="!allowAdd"
          style="margin-bottom: 10px;">
          Re-Load Current
        </button>
        <img src="assets/loading.gif" [hidden]="!loading" />
        <button type="reset" (click)="newOrder()" [hidden]="loading" class="btn btn-primary" style="margin-bottom: 10px;">
          New Order
        </button>
      </div>
      <br />
      <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Product:
        </label>
        <div class="col-sm-6 col-md-6 col-lg-6 control-group">
          <div class="input-group">
            <select [(ngModel)]="selectedProduct" formControlName="product" (change)="productSelected()">
              <option *ngFor="let product of products" [ngValue]="product">{{product.name | truncate:35}} - {{product.desc | truncate:45}}, {{product.price | currency}}</option>
            </select>
          </div>
        </div>
      </div>
    	<div class="form-group">
    	  <label class="col-sm-3 col-md-3 col-lg-3 control-label">Quantity:
    	  </label>
    	  <div class="col-sm-6 col-md-6 col-lg-6 control-group">
    	    <div class="input-group">
    	      <input class="form-control" type="number" #qty formControlName="quantity" (blur)="quantityUpdated(qty.value)" />
            <div>
              Available quantity: {{productMax}}
            </div>
            <div *ngIf="quantityError" style="color:red">
              Please enter a valid quantity for this product.
            </div>
    	    </div>
    	  </div>
    	</div>   
    	<div class="form-group">
    	  <label class="col-sm-3 col-md-3 col-lg-3 control-label">Percent Off:
    	  </label>
    	  <div class="col-sm-6 col-md-6 col-lg-6 control-group">
    	    <div class="input-group">
    	      <input class="form-control" type="number" #percent_off formControlName="percent_off" (blur)="discountUpdated(percent_off.value)">
            <div *ngIf="discountError" style="color:red">
              Please enter a percent off discount between 0 and {{discountMax}}.
            </div>
    	    </div>
    	  </div>
      </div>
      <br /> 
      <button (click)="addItem(selectedProduct, qty.value, percent_off.value)" class="btn btn-success" type="button" [disabled]="!allowAdd">Add Item</button>
      <button type="submit" [disabled]="!allowAdd" class="btn btn-primary">Save Order</button>
      <button type="reset" (click)="remove(currentOrder)" [hidden]="loading" [disabled]="!allowAdd" class="btn btn-info">Delete this Order</button>
    </form>
  </div>
  <app-order-summary [order]="order" [summary]="summary"></app-order-summary>
  <app-search-results></app-search-results>
</div>